div.projector {
  margin: 3em 2em;
}

table.rawdatatable th {
  font-size: 60%;
}

table.rawdatatable {
  margin-bottom: 1em;
}

div.addscenario {
  margin: 1em 0;
  text-align: center;
}

div.value {
  text-align: center;
  margin-bottom: 1em;
}

div.slider { 
  height: .2em;
  margin: 0 2em 1em 2em;
}

div#inputs-years .slider{
  height: 14em;
}

div#inputs-years input {
  margin-bottom: 1em;
}

div.inputs {
  font-size: 66%;
}

div.inputs h5 {
  font-size: 133%;
  margin: 0;
}

div#topheader {
  background: rgb(37, 42, 58);
  color: #0F4;
  z-index: 1024;
  box-shadow: 0 -1px 0 rgb(37, 42, 58) inset, 0 5px 5px rgba(0,0,0,0.33);
}

div.visualizations {
  margin-top: 1em
}

div#topheader a.pure-menu-heading {
  color: #0F4;
}

div.inputgroup {
  margin-right: 10em;
  box-shadow: 0 5px 5px rgba(0,0,0,0.33);
  border-radius: 5px;
  padding: 1em;
}

div#aboutyou {
  background-color: #C1D3D4;
  border: solid 3px #9BAEB3;
}

div.inputgroup h5 {
  color: #666;
}

div.inputgroup label {
  color: black;
}

div#investmentperformance {
  background-color: #C3DBC5;
  border: solid 3px #9BB39D;
}

div#abouthome {
  background-color: #D9DBC3;
  border: solid 3px #B3B59F;
}

body {
  font-family: 'Alef';
  background: url(light_noise_diagonal.png);
}

.pure-menu a {
  color: #CF0;
}

.pure-menu-selected {
  background: rgb(55,62,84);
}

div#topheader a:hover {
  background: #666;
}

#inputs .ui-slider .ui-slider-handle {
  height: 0.6em;
  width: 1.2em;
  padding: 0;
  top: -.2em;
}

#inputs {
  border: none;
}

rect {
    fill: #CC0202;
    stroke-width:1;
    margin: 0;
    padding: 0px;
    stroke: #999;
}
rect.stockColumn {
    fill: #02A1D1;
}

.inputheader {
  margin-bottom: .25em
}

div.valuecontainer {
  text-align: center;
}

input.value {

}

div#inputs-rent {
  display: none;
}

#barchartxaxis, #barchartyaxis, #piechartlegend {
  font-size: 33%;
}