div.projector {
  margin: 3em 2em;
}

table.rawdatatable th {
  font-size: 60%;
}

table.rawdatatable {
  margin-bottom: 1em;
}

div.addscenario {
  margin: 1em 0;
  text-align: center;
}

div.value {
  text-align: center;
  margin-bottom: 1em;
}

div.slider { 
  height: .2em;
}

div.inputs {
}

div#topheader {
  background: rgb(37, 42, 58);
  color: #0F4;
}

div#topheader a.pure-menu-heading {
  color: #0F4;
}

body {
  font-family: 'Alef';
}

.pure-menu a {
  color: #CF0;
}

.pure-menu-selected {
  background: rgb(55,62,84);
}

div#topheader a:hover {
  background: #666;
}

#inputs .ui-slider .ui-slider-handle {
  height: 0.6em;
  width: 1.2em;
  padding: 0;
  top: -.2em;
}

#inputs {
  border: none;
}

rect {
    background-color: red;
    color: red;
    fill: red;
    stroke-width:1;
    margin: 0;
    padding: 0px;
    stroke: darkred;
}
rect.stockColumn {
    fill: blue;
}